13JE7G0TEZ0L0YBe.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-07T13:04:10.000Z",
    "createdAt": "2026-01-07T13:04:08.023Z",
    "versionId": "aa0dd60a-400b-44fe-9559-cdcd6cf7258a",
    "workflowId": "13JE7G0TEZ0L0YBe",
    "nodes": [
      {
        "parameters": {
          "url": "https://newsapi.org/v2/everything",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.stock }}"
              },
              {
                "name": "from",
                "value": "={{$today.minus({ days: 1 }).toFormat('yyyy-MM-dd')}}"
              },
              {
                "name": "apikey",
                "value": "=a9ccdb3753d64c3192928d3fa3dd45af"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          688,
          48
        ],
        "id": "8c39922b-4350-475e-beb7-5c2333f74dce",
        "name": "News 7/24"
      },
      {
        "parameters": {
          "jsCode": "// Obtenemos todos los items de entrada\nconst items = $input.all();\n\n// Obtenemos el keyword (stock) del primer item para filtrar\nconst stockKeyword = (items[0]?.json?.stock || '').toUpperCase();\n\nlet processedArticles = [];\n\nfor (const item of items) {\n  if (item.json.articles && Array.isArray(item.json.articles)) {\n    // 1. Filtramos los artículos que coincidan con el stock\n    const relevant = item.json.articles.filter(article => {\n      const title = (article.title || '').toUpperCase();\n      const description = (article.description || '').toUpperCase();\n      // Si no hay keyword, los deja pasar todos, si hay, filtra.\n      return stockKeyword === '' || title.includes(stockKeyword) || description.includes(stockKeyword);\n    });\n\n    // 2. Tomamos solo los primeros 5 y los añadimos a nuestra lista global\n    processedArticles = processedArticles.concat(relevant.slice(0, 5));\n  }\n}\n\n// 3. TRANSFORMACIÓN CRUCIAL:\n// Convertimos cada artículo en un objeto compatible con el formato de salida de n8n\n// Esto es lo que hace que los artículos se \"dividan\" en items separados.\nreturn processedArticles.map(article => {\n  return {\n    json: {\n      ...article,\n      // Añadimos el ticker original por si lo necesitas más adelante en el flujo\n      stock_referenced: stockKeyword \n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          48
        ],
        "id": "9b52aae7-4bf0-45c7-887b-dff0c27b3b4c",
        "name": "Filter News"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "stock"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          464,
          48
        ],
        "id": "83ed4a95-ac96-4014-913a-cbbb2a94d0fb",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Analiza la siguiente noticia para el activo: {{ $json.stock_referenced }}\n\nTÍTULO: {{ $json.title }}\nDESCRIPCIÓN: {{ $json.description }}\nCONTENIDO EXTRAÍDO: {{ $json.content }}\nFECHA DE PUBLICACIÓN: {{ $json.publishedAt }}\n\nBasado en esta información, genera el análisis de sentimiento y la recomendación técnica solicitada.",
          "messages": {
            "messageValues": [
              {
                "message": "=Eres un Analista Senior de Inversiones. Tu tarea es analizar noticias de tecnología y mercado. Para cada noticia recibida, genera un JSON con la siguiente estructura:  {   \"sentiment\": \"BULLISH\" | \"BEARISH\" | \"NEUTRAL\",   \"confidence_score\": (valor de 0 a 1),   \"summary\": \"Breve resumen de 1 línea\",   \"impact_analysis\": \"Análisis de cómo esto afecta al stock {{ $('When Executed by Another Workflow').item.json.stock }}\",   \"recommendation\": \"BUY\" | \"SELL\" | \"HOLD\" }  Responde ÚNICAMENTE con el JSON. No incluyas explicaciones adicionales.\n\nNota: Aunque la noticia de entrada esté en cualquier otro idioma, el resumen_ejecutivo y la justificacion deben estar obligatoriamente en Español."
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.8,
        "position": [
          1088,
          48
        ],
        "id": "65d998c5-2915-48a7-9c95-072e10062a6d",
        "name": "Basic LLM Chain",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "model": "llama-3.3-70b-versatile",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          1056,
          208
        ],
        "id": "cc5b04fb-8146-4760-a7e8-30bd0b2ec581",
        "name": "Groq Chat Model1",
        "credentials": {
          "groqApi": {
            "id": "huxsxNMqKLRQoZW9",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nlet totalScore = 0;\nconst summaries = [];\nconst counts = { BULLISH: 0, BEARISH: 0, NEUTRAL: 0 };\nconst recommendations = [];\n\nfor (const item of items) {\n  try {\n    // 1. Limpiamos el ruido del Markdown (las comillas y la palabra 'json')\n    const rawText = item.json.text.replace(/```json|```/g, '').trim();\n    const data = JSON.parse(rawText);\n\n    // 2. Mapeamos sentimiento a valor numérico para promedio\n    let numericScore = 0;\n    if (data.sentiment === 'BULLISH') {\n      numericScore = 1;\n      counts.BULLISH++;\n    } else if (data.sentiment === 'BEARISH') {\n      numericScore = -1;\n      counts.BEARISH++;\n    } else {\n      counts.NEUTRAL++;\n    }\n\n    // 3. Acumulamos datos\n    totalScore += (numericScore * data.confidence_score);\n    summaries.push(`- ${data.summary} (Confianza: ${data.confidence_score})`);\n    recommendations.push(data.recommendation);\n\n  } catch (error) {\n    console.error(\"Error parseando item:\", error);\n  }\n}\n\n// 4. Lógica de Decisión Final\nconst averageScore = totalScore / items.length;\nlet finalVerdict = \"HOLD\";\nif (averageScore > 0.2) finalVerdict = \"BUY\";\nif (averageScore < -0.2) finalVerdict = \"SELL\";\n\nreturn {\n  stock: \"AAPL\",\n  sentimiento_global: averageScore.toFixed(2),\n  veredicto_final: finalVerdict,\n  conteo_señas: counts,\n  resumen_ejecutivo: summaries.join('\\n'),\n  timestamp: new Date().toISOString()\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          48
        ],
        "id": "3e1e5868-ffde-4ee9-95da-e7ef03598402",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "News 7/24": {
        "main": [
          [
            {
              "node": "Filter News",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter News": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "News 7/24",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Juan Castillo",
    "name": "Version aa0dd60a",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "aa0dd60a-400b-44fe-9559-cdcd6cf7258a",
  "connections": {
    "News 7/24": {
      "main": [
        [
          {
            "node": "Filter News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter News": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "News 7/24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-30T12:35:22.188Z",
  "id": "13JE7G0TEZ0L0YBe",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Analisis Sentimiento Subflujo",
  "nodes": [
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.stock }}"
            },
            {
              "name": "from",
              "value": "={{$today.minus({ days: 1 }).toFormat('yyyy-MM-dd')}}"
            },
            {
              "name": "apikey",
              "value": "=a9ccdb3753d64c3192928d3fa3dd45af"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        48
      ],
      "id": "8c39922b-4350-475e-beb7-5c2333f74dce",
      "name": "News 7/24"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos todos los items de entrada\nconst items = $input.all();\n\n// Obtenemos el keyword (stock) del primer item para filtrar\nconst stockKeyword = (items[0]?.json?.stock || '').toUpperCase();\n\nlet processedArticles = [];\n\nfor (const item of items) {\n  if (item.json.articles && Array.isArray(item.json.articles)) {\n    // 1. Filtramos los artículos que coincidan con el stock\n    const relevant = item.json.articles.filter(article => {\n      const title = (article.title || '').toUpperCase();\n      const description = (article.description || '').toUpperCase();\n      // Si no hay keyword, los deja pasar todos, si hay, filtra.\n      return stockKeyword === '' || title.includes(stockKeyword) || description.includes(stockKeyword);\n    });\n\n    // 2. Tomamos solo los primeros 5 y los añadimos a nuestra lista global\n    processedArticles = processedArticles.concat(relevant.slice(0, 5));\n  }\n}\n\n// 3. TRANSFORMACIÓN CRUCIAL:\n// Convertimos cada artículo en un objeto compatible con el formato de salida de n8n\n// Esto es lo que hace que los artículos se \"dividan\" en items separados.\nreturn processedArticles.map(article => {\n  return {\n    json: {\n      ...article,\n      // Añadimos el ticker original por si lo necesitas más adelante en el flujo\n      stock_referenced: stockKeyword \n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        48
      ],
      "id": "9b52aae7-4bf0-45c7-887b-dff0c27b3b4c",
      "name": "Filter News"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "stock"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        464,
        48
      ],
      "id": "83ed4a95-ac96-4014-913a-cbbb2a94d0fb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza la siguiente noticia para el activo: {{ $json.stock_referenced }}\n\nTÍTULO: {{ $json.title }}\nDESCRIPCIÓN: {{ $json.description }}\nCONTENIDO EXTRAÍDO: {{ $json.content }}\nFECHA DE PUBLICACIÓN: {{ $json.publishedAt }}\n\nBasado en esta información, genera el análisis de sentimiento y la recomendación técnica solicitada.",
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un Analista Senior de Inversiones. Tu tarea es analizar noticias de tecnología y mercado. Para cada noticia recibida, genera un JSON con la siguiente estructura:  {   \"sentiment\": \"BULLISH\" | \"BEARISH\" | \"NEUTRAL\",   \"confidence_score\": (valor de 0 a 1),   \"summary\": \"Breve resumen de 1 línea\",   \"impact_analysis\": \"Análisis de cómo esto afecta al stock {{ $('When Executed by Another Workflow').item.json.stock }}\",   \"recommendation\": \"BUY\" | \"SELL\" | \"HOLD\" }  Responde ÚNICAMENTE con el JSON. No incluyas explicaciones adicionales.\n\nNota: Aunque la noticia de entrada esté en cualquier otro idioma, el resumen_ejecutivo y la justificacion deben estar obligatoriamente en Español."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        1088,
        48
      ],
      "id": "65d998c5-2915-48a7-9c95-072e10062a6d",
      "name": "Basic LLM Chain",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1056,
        208
      ],
      "id": "cc5b04fb-8146-4760-a7e8-30bd0b2ec581",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "huxsxNMqKLRQoZW9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet totalScore = 0;\nconst summaries = [];\nconst counts = { BULLISH: 0, BEARISH: 0, NEUTRAL: 0 };\nconst recommendations = [];\n\nfor (const item of items) {\n  try {\n    // 1. Limpiamos el ruido del Markdown (las comillas y la palabra 'json')\n    const rawText = item.json.text.replace(/```json|```/g, '').trim();\n    const data = JSON.parse(rawText);\n\n    // 2. Mapeamos sentimiento a valor numérico para promedio\n    let numericScore = 0;\n    if (data.sentiment === 'BULLISH') {\n      numericScore = 1;\n      counts.BULLISH++;\n    } else if (data.sentiment === 'BEARISH') {\n      numericScore = -1;\n      counts.BEARISH++;\n    } else {\n      counts.NEUTRAL++;\n    }\n\n    // 3. Acumulamos datos\n    totalScore += (numericScore * data.confidence_score);\n    summaries.push(`- ${data.summary} (Confianza: ${data.confidence_score})`);\n    recommendations.push(data.recommendation);\n\n  } catch (error) {\n    console.error(\"Error parseando item:\", error);\n  }\n}\n\n// 4. Lógica de Decisión Final\nconst averageScore = totalScore / items.length;\nlet finalVerdict = \"HOLD\";\nif (averageScore > 0.2) finalVerdict = \"BUY\";\nif (averageScore < -0.2) finalVerdict = \"SELL\";\n\nreturn {\n  stock: \"AAPL\",\n  sentimiento_global: averageScore.toFixed(2),\n  veredicto_final: finalVerdict,\n  conteo_señas: counts,\n  resumen_ejecutivo: summaries.join('\\n'),\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        48
      ],
      "id": "3e1e5868-ffde-4ee9-95da-e7ef03598402",
      "name": "Code in JavaScript"
    }
  ],
  "origin": "main",
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "stock": "AAPL"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "xmaichel",
    "name": "n8n_flows"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-30T12:35:22.217Z",
      "createdAt": "2025-12-30T12:35:22.217Z",
      "role": "workflow:owner",
      "workflowId": "13JE7G0TEZ0L0YBe",
      "projectId": "TWUdlmfp5jAL6XiA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-07T13:04:08.022Z",
  "versionId": "aa0dd60a-400b-44fe-9559-cdcd6cf7258a"
}