BvuOTXpoIjvXGlFy.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-24T05:06:58.000Z",
    "createdAt": "2026-03-24T05:06:52.888Z",
    "versionId": "730906f7-b830-4e27-aa1f-59d0e58f1d87",
    "workflowId": "BvuOTXpoIjvXGlFy",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "empoderaTeka",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1936,
          -128
        ],
        "id": "ebe54a9a-089c-49b5-960b-00ae1e26e0e9",
        "name": "Webhook",
        "webhookId": "c7be93ef-597a-4646-93fe-283ad0a622be"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=contenido:{{ $json.messageConversation }}\nnombre de usuario:{{ $json.pushName }}",
          "options": {
            "systemMessage": "Eres un asistente de ws"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -800,
          0
        ],
        "id": "9f3b94c7-22c4-4d50-9bd0-ae682e733390",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -816,
          176
        ],
        "id": "acdd82ff-8598-40d8-bea2-13a3b8d162be",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "n9ENnMrxLhhgNjf8",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.remoteJid }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -704,
          192
        ],
        "id": "183d1ba0-41d4-4e48-bf80-4d207d9220ce",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "00b68009-27c8-4bd0-86ad-8dfc4c5dff5c",
                "name": "pushName",
                "value": "={{ $json.body.data.pushName }}",
                "type": "string"
              },
              {
                "id": "31446eaf-7193-4341-8fa7-04d4588a2061",
                "name": "messageConversation",
                "value": "={{ $json.body.data.message.conversation }}",
                "type": "string"
              },
              {
                "id": "7c6dbf5e-a7b3-4ced-8390-401f61040bae",
                "name": "remoteJid",
                "value": "={{ $json.body.data.key.remoteJid }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1360,
          -304
        ],
        "id": "79e87033-fb1e-4b63-ab5f-8d3601f386f0",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "=Empodera 432",
          "remoteJid": "=",
          "messageText": "={{ $json.output }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          -192,
          0
        ],
        "id": "f3f59b82-12e8-4226-916f-487a26ab340c",
        "name": "Enviar texto",
        "credentials": {
          "evolutionApi": {
            "id": "C1oZNpeQbRhorvul",
            "name": "Evolution account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -512,
          0
        ],
        "id": "d3887a26-b21f-4136-b06b-c5ddf6b6f7d7",
        "name": "Wait",
        "webhookId": "d5eade81-fcb3-4cef-b19a-986548e0ef63"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.data.messageType }}",
                      "rightValue": "conversation",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "643b017b-6ec2-46e4-ba1f-99c896787447"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "text"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "450599ac-0e7a-4581-98df-d66f1a0f8d42",
                      "leftValue": "={{ $json.body.data.messageType }}",
                      "rightValue": "audioMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "audio"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "28d70e2d-7a74-4bd0-9cee-e81c0d45b96a",
                      "leftValue": "={{ $json.body.data.messageType }}",
                      "rightValue": "imageMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "imagen"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "06955a5e-0a08-4ca9-88d5-2b3cf3bccc15",
                      "leftValue": "={{ $json.body.data.messageType }}",
                      "rightValue": "=stickerMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "stickerMessage"
              }
            ]
          },
          "looseTypeValidation": "={{ false }}",
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -1760,
          -144
        ],
        "id": "e29174ee-74d7-4dd0-af59-183e5dcf66a4",
        "name": "Switch"
      },
      {
        "parameters": {
          "resource": "chat-api",
          "operation": "get-media-base64",
          "instanceName": "Empodera 432",
          "messageId": "={{ $json.body.data.key.id }}",
          "convertToMp4": true
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          -1504,
          -128
        ],
        "id": "266273f4-0de7-47b4-b2ea-402f3bc4cddf",
        "name": "Obter m dia em base64",
        "credentials": {
          "evolutionApi": {
            "id": "C1oZNpeQbRhorvul",
            "name": "Evolution account"
          }
        }
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "data.base64",
          "options": {
            "mimeType": "audio/mp3"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -1360,
          -96
        ],
        "id": "28618d76-7dad-4981-afe8-3dc6424a0a62",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          -1216,
          -48
        ],
        "id": "a2df5f86-9ca3-4f09-a7d2-203d33121ef6",
        "name": "Transcribe a recording",
        "credentials": {
          "openAiApi": {
            "id": "HV97DoTFCLaZIPgd",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -928,
          288
        ],
        "id": "fcdbbb59-794b-475d-bb80-a59fcf0ab8df",
        "name": "OpenRouter Chat Model1",
        "credentials": {
          "openRouterApi": {
            "id": "n9ENnMrxLhhgNjf8",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "00b68009-27c8-4bd0-86ad-8dfc4c5dff5c",
                "name": "pushName",
                "value": "={{ $('Webhook').item.json.body.data.pushName }}",
                "type": "string"
              },
              {
                "id": "31446eaf-7193-4341-8fa7-04d4588a2061",
                "name": "messageConversation",
                "value": "={{ $json.text }}",
                "type": "string"
              },
              {
                "id": "7c6dbf5e-a7b3-4ced-8390-401f61040bae",
                "name": "remoteJid",
                "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1072,
          0
        ],
        "id": "ffb29559-999f-4560-b607-e0d6d4f9bfbe",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "resource": "chat-api",
          "operation": "get-media-base64",
          "instanceName": "Empodera 432",
          "messageId": "={{ $json.body.data.key.id }}"
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          -1504,
          16
        ],
        "id": "4d85d94c-f630-43b7-809b-379fd5f2ecb6",
        "name": "Obter m dia em base",
        "credentials": {
          "evolutionApi": {
            "id": "C1oZNpeQbRhorvul",
            "name": "Evolution account"
          }
        }
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "data.base64",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -1360,
          80
        ],
        "id": "f1b4b0fc-5542-45e4-8ea5-de03e929a095",
        "name": "Convert to File1"
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "GPT-4O"
          },
          "text": "What's in this image?, responder en español.",
          "inputType": "base64",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          -1200,
          128
        ],
        "id": "3889feb8-5d6b-4dfe-a0d3-1084daad6bb2",
        "name": "Analyze image",
        "credentials": {
          "openAiApi": {
            "id": "HV97DoTFCLaZIPgd",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "00b68009-27c8-4bd0-86ad-8dfc4c5dff5c",
                "name": "pushName",
                "value": "={{ $('Webhook').item.json.body.data.pushName }}",
                "type": "string"
              },
              {
                "id": "31446eaf-7193-4341-8fa7-04d4588a2061",
                "name": "messageConversation",
                "value": "={{ $json.text }}",
                "type": "string"
              },
              {
                "id": "7c6dbf5e-a7b3-4ced-8390-401f61040bae",
                "name": "remoteJid",
                "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1056,
          160
        ],
        "id": "7f52d343-ff2f-4d6b-b29b-4aeddc758edb",
        "name": "Edit Fields2"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Enviar texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Obter m dia em base64",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Obter m dia em base",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Obter m dia em base64": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Transcribe a recording",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe a recording": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obter m dia em base": {
        "main": [
          [
            {
              "node": "Convert to File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File1": {
        "main": [
          [
            {
              "node": "Analyze image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze image": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Juan Castillo",
    "name": "Version 730906f7",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "730906f7-b830-4e27-aa1f-59d0e58f1d87",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar mensagens como lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-23T22:47:18.003Z",
  "id": "BvuOTXpoIjvXGlFy",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ws-evolution-ia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "empoderaTeka",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1936,
        -128
      ],
      "id": "ebe54a9a-089c-49b5-960b-00ae1e26e0e9",
      "name": "Webhook",
      "webhookId": "c7be93ef-597a-4646-93fe-283ad0a622be"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=contenido:{{ $json.messageConversation }}\nnombre de usuario:{{ $json.pushName }}",
        "options": {
          "systemMessage": "Eres un asistente de ws"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -800,
        0
      ],
      "id": "9f3b94c7-22c4-4d50-9bd0-ae682e733390",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -816,
        176
      ],
      "id": "acdd82ff-8598-40d8-bea2-13a3b8d162be",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "n9ENnMrxLhhgNjf8",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.remoteJid }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -704,
        192
      ],
      "id": "183d1ba0-41d4-4e48-bf80-4d207d9220ce",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00b68009-27c8-4bd0-86ad-8dfc4c5dff5c",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "31446eaf-7193-4341-8fa7-04d4588a2061",
              "name": "messageConversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "7c6dbf5e-a7b3-4ced-8390-401f61040bae",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        -304
      ],
      "id": "79e87033-fb1e-4b63-ab5f-8d3601f386f0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "=Empodera 432",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -192,
        0
      ],
      "id": "f3f59b82-12e8-4226-916f-487a26ab340c",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "C1oZNpeQbRhorvul",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $json.total_palabras }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -336,
        0
      ],
      "id": "d3887a26-b21f-4136-b06b-c5ddf6b6f7d7",
      "name": "Wait",
      "webhookId": "d5eade81-fcb3-4cef-b19a-986548e0ef63"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "643b017b-6ec2-46e4-ba1f-99c896787447"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "450599ac-0e7a-4581-98df-d66f1a0f8d42",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "28d70e2d-7a74-4bd0-9cee-e81c0d45b96a",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "06955a5e-0a08-4ca9-88d5-2b3cf3bccc15",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "=stickerMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stickerMessage"
            }
          ]
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1760,
        -144
      ],
      "id": "e29174ee-74d7-4dd0-af59-183e5dcf66a4",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "Empodera 432",
        "messageId": "={{ $json.body.data.key.id }}",
        "convertToMp4": true
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1504,
        -128
      ],
      "id": "266273f4-0de7-47b4-b2ea-402f3bc4cddf",
      "name": "Obter m dia em base64",
      "credentials": {
        "evolutionApi": {
          "id": "C1oZNpeQbRhorvul",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "audio/mp3"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1360,
        -96
      ],
      "id": "28618d76-7dad-4981-afe8-3dc6424a0a62",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1216,
        -48
      ],
      "id": "a2df5f86-9ca3-4f09-a7d2-203d33121ef6",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "HV97DoTFCLaZIPgd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00b68009-27c8-4bd0-86ad-8dfc4c5dff5c",
              "name": "pushName",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "31446eaf-7193-4341-8fa7-04d4588a2061",
              "name": "messageConversation",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "7c6dbf5e-a7b3-4ced-8390-401f61040bae",
              "name": "remoteJid",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        0
      ],
      "id": "ffb29559-999f-4560-b607-e0d6d4f9bfbe",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "Empodera 432",
        "messageId": "={{ $json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1504,
        16
      ],
      "id": "4d85d94c-f630-43b7-809b-379fd5f2ecb6",
      "name": "Obter m dia em base",
      "credentials": {
        "evolutionApi": {
          "id": "C1oZNpeQbRhorvul",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1360,
        80
      ],
      "id": "f1b4b0fc-5542-45e4-8ea5-de03e929a095",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "What's in this image?, responder en español.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1200,
        128
      ],
      "id": "3889feb8-5d6b-4dfe-a0d3-1084daad6bb2",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "HV97DoTFCLaZIPgd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00b68009-27c8-4bd0-86ad-8dfc4c5dff5c",
              "name": "pushName",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "31446eaf-7193-4341-8fa7-04d4588a2061",
              "name": "messageConversation",
              "value": "={{ $json['0'].content[0].text }}",
              "type": "string"
            },
            {
              "id": "7c6dbf5e-a7b3-4ced-8390-401f61040bae",
              "name": "remoteJid",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        160
      ],
      "id": "7f52d343-ff2f-4d6b-b29b-4aeddc758edb",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "const texto = $input.first().json.output; // cambia por tu campo\n\n// Contar palabras\nconst palabras = texto.trim().split(/\\s+/).filter(p => p.length > 0);\nconst totalPalabras = palabras.length;\n\n// Calcular pausa simulando escritura humana\n// Promedio humano: ~40 palabras por minuto\nconst palabrasPorMinuto = 40;\nconst milisegundosPorPalabra = (60 / palabrasPorMinuto) * 1000; // 1500ms por palabra\n\n// Tiempo base de \"pensar antes de responder\" (1 a 3 segundos)\nconst tiempoBase = Math.floor(Math.random() * 2000) + 1000;\n\n// Pequeña variación aleatoria para que no sea robótico (±20%)\nconst variacion = 1 + (Math.random() * 0.4 - 0.2);\n\nconst pausaMs = Math.round((totalPalabras * milisegundosPorPalabra + tiempoBase) * variacion);\n\n// Limite máximo de 15 segundos para no esperar demasiado\nconst pausaFinal = Math.min(pausaMs, 15000);\n\n// Hacer la pausa\nawait new Promise(resolve => setTimeout(resolve, pausaFinal));\n\nreturn [{\n  json: {\n    texto,\n    total_palabras: totalPalabras,\n    pausa_aplicada_ms: pausaFinal,\n    pausa_aplicada_seg: (pausaFinal / 1000).toFixed(2)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        0
      ],
      "id": "efa37f04-5ae4-4454-926b-6e4a6d360dc8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1520,
        208
      ],
      "id": "c570170c-881b-451b-8a0e-0da5f94088f1",
      "name": "Marcar mensagens como lidas",
      "credentials": {
        "evolutionApi": {
          "id": "C1oZNpeQbRhorvul",
          "name": "Evolution account"
        }
      }
    }
  ],
  "origin": "main",
  "pinData": {},
  "repo": {
    "owner": "xmaichel",
    "name": "n8n_flows"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-23T22:47:18.014Z",
      "createdAt": "2026-03-23T22:47:18.014Z",
      "role": "workflow:owner",
      "workflowId": "BvuOTXpoIjvXGlFy",
      "projectId": "TWUdlmfp5jAL6XiA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-24T05:19:42.868Z",
  "versionId": "9ceb4579-8e69-4d85-8945-8c52e157ae3c"
}