k4HkK-9JsSYEO3dEcALWE.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-20T23:44:06.000Z",
    "createdAt": "2026-03-20T23:43:53.981Z",
    "versionId": "c6af9b84-7c23-461e-9edf-c8c6fe2b3291",
    "workflowId": "k4HkK-9JsSYEO3dEcALWE",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.messages[0].text.body }}",
          "options": {
            "systemMessage": "=Eres un asistente para la empresa grupo Empodera, simpre contesta n español, no es necesario que menciones que eres un asistente virtual a no ser que se le pregunte.\nsi no sabe el nombre del usuario, saluda y pregunta el nombre por ejemplo \"Hola 👋  \n¡Gracias por escribirnos!\nAntes de continuar, ¿me compartes tu nombre, por favor? Así puedo dirigirme a ti correctamente.\n•\tBrinda su nombre\"\n\nEn las siguiente interacion o una vez sabe el nombre se debe contestar algo asi como \n\"Es un placer, NOMBRE.\n\nTe cuento: la forma en la que trabajamos es bastante distinta a la mayoría de las asesorías que existen en el mercado. No creemos en soluciones genéricas ni en recomendaciones rápidas sin entender realmente lo que está pasando dentro de cada empresa.\n\nPor eso, me gustaría entender mejor tu situación actual, si recién vas a empezar o ya estás operando sin los resultados deseados, ¿Qué es lo que te preocupa y te motivó a contactarnos?\n\n•\tBrinda sus comentarios, problemas, expectativas\"\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          192,
          0
        ],
        "id": "795ab39b-0069-4f2c-8a92-17727bd23e84",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "minimax/minimax-m2.5",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          192,
          192
        ],
        "id": "6d38c835-e275-4c6d-beb7-333f473e4a5a",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "n9ENnMrxLhhgNjf8",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.metadata.phone_number_id }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          336,
          224
        ],
        "id": "d2b88944-27b7-42f2-b860-8489cbb9f213",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "updates": [
            "messages"
          ],
          "options": {}
        },
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "position": [
          -128,
          0
        ],
        "id": "68dc777a-c065-4025-8862-ce17e3fed4ba",
        "name": "WhatsApp Trigger",
        "webhookId": "e6b60c46-5b40-4514-9464-f6483fc47758",
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "zywFedl5CIYfBVdV",
            "name": "WhatsApp OAuth account"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "1046527318541470",
          "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
          "textBody": "={{ $json.output }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          704,
          0
        ],
        "id": "7448897c-73c2-4588-8d57-9c4cb2a2dda3",
        "name": "Send message",
        "webhookId": "161ba60b-65d6-4721-a8bd-f3472ac795e7",
        "credentials": {
          "whatsAppApi": {
            "id": "zN64FrchG3Us4NQd",
            "name": "WhatsApp account"
          }
        }
      }
    ],
    "connections": {
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "WhatsApp Trigger": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Juan Castillo",
    "name": "Version c6af9b84",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "c6af9b84-7c23-461e-9edf-c8c6fe2b3291",
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-12T12:16:31.371Z",
  "id": "k4HkK-9JsSYEO3dEcALWE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "EmpoderaBot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=Eres un asistente para la empresa grupo Empodera, simpre contesta n español, no es necesario que menciones que eres un asistente virtual a no ser que se le pregunte.\nsi no sabe el nombre del usuario, saluda y pregunta el nombre por ejemplo \"Hola 👋  \n¡Gracias por escribirnos!\nAntes de continuar, ¿me compartes tu nombre, por favor? Así puedo dirigirme a ti correctamente.\n•\tBrinda su nombre\"\n\nEn las siguiente interacion o una vez sabe el nombre se debe contestar algo asi como \n\"Es un placer, NOMBRE.\n\nTe cuento: la forma en la que trabajamos es bastante distinta a la mayoría de las asesorías que existen en el mercado. No creemos en soluciones genéricas ni en recomendaciones rápidas sin entender realmente lo que está pasando dentro de cada empresa.\n\nPor eso, me gustaría entender mejor tu situación actual, si recién vas a empezar o ya estás operando sin los resultados deseados, ¿Qué es lo que te preocupa y te motivó a contactarnos?\n\n•\tBrinda sus comentarios, problemas, expectativas\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        0
      ],
      "id": "795ab39b-0069-4f2c-8a92-17727bd23e84",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "minimax/minimax-m2.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        192,
        192
      ],
      "id": "6d38c835-e275-4c6d-beb7-333f473e4a5a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "n9ENnMrxLhhgNjf8",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.metadata.phone_number_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        224
      ],
      "id": "d2b88944-27b7-42f2-b860-8489cbb9f213",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ],
      "id": "68dc777a-c065-4025-8862-ce17e3fed4ba",
      "name": "WhatsApp Trigger",
      "webhookId": "e6b60c46-5b40-4514-9464-f6483fc47758",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "zywFedl5CIYfBVdV",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1046527318541470",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        704,
        0
      ],
      "id": "7448897c-73c2-4588-8d57-9c4cb2a2dda3",
      "name": "Send message",
      "webhookId": "161ba60b-65d6-4721-a8bd-f3472ac795e7",
      "credentials": {
        "whatsAppApi": {
          "id": "zN64FrchG3Us4NQd",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "origin": "main",
  "pinData": {},
  "repo": {
    "owner": "xmaichel",
    "name": "n8n_flows"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-01-12T12:16:31.383Z",
      "createdAt": "2026-01-12T12:16:31.383Z",
      "role": "workflow:owner",
      "workflowId": "k4HkK-9JsSYEO3dEcALWE",
      "projectId": "TWUdlmfp5jAL6XiA"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-17T03:19:51.836Z",
      "createdAt": "2026-03-17T03:19:51.836Z",
      "id": "tLeoVtVO4wjWQ3Xi",
      "name": "Empodera"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-20T23:43:53.979Z",
  "versionId": "c6af9b84-7c23-461e-9edf-c8c6fe2b3291"
}