k4HkK-9JsSYEO3dEcALWE.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-21T21:41:16.000Z",
    "createdAt": "2026-03-21T21:41:06.551Z",
    "versionId": "54536a02-0335-444b-b24e-fa813c979485",
    "workflowId": "k4HkK-9JsSYEO3dEcALWE",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.messages[0].text.body }}",
          "options": {
            "systemMessage": "=Eres un asistente para la empresa grupo Empodera, simpre contesta n español, no es necesario que menciones que eres un asistente virtual a no ser que se le pregunte.\nsi no sabe el nombre del usuario, saluda y pregunta el nombre por ejemplo \"Hola 👋  \n¡Gracias por escribirnos!\nAntes de continuar, ¿me compartes tu nombre, por favor? Así puedo dirigirme a ti correctamente.\n•\tBrinda su nombre\"\n\nEn las siguiente interacion o una vez sabe el nombre se debe contestar algo asi como \n\"Es un placer, NOMBRE.\n\nTe cuento: la forma en la que trabajamos es bastante distinta a la mayoría de las asesorías que existen en el mercado. No creemos en soluciones genéricas ni en recomendaciones rápidas sin entender realmente lo que está pasando dentro de cada empresa.\n\nPor eso, me gustaría entender mejor tu situación actual, si recién vas a empezar o ya estás operando sin los resultados deseados, ¿Qué es lo que te preocupa y te motivó a contactarnos?\n\n•\tBrinda sus comentarios, problemas, expectativas\"\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          192,
          0
        ],
        "id": "795ab39b-0069-4f2c-8a92-17727bd23e84",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "minimax/minimax-m2.5",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          192,
          192
        ],
        "id": "6d38c835-e275-4c6d-beb7-333f473e4a5a",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "n9ENnMrxLhhgNjf8",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.metadata.phone_number_id }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          336,
          224
        ],
        "id": "d2b88944-27b7-42f2-b860-8489cbb9f213",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "updates": [
            "messages"
          ],
          "options": {}
        },
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "position": [
          -128,
          0
        ],
        "id": "68dc777a-c065-4025-8862-ce17e3fed4ba",
        "name": "WhatsApp Trigger",
        "webhookId": "e6b60c46-5b40-4514-9464-f6483fc47758",
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "zywFedl5CIYfBVdV",
            "name": "WhatsApp OAuth account"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "1046527318541470",
          "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
          "textBody": "={{ $json.output }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          704,
          0
        ],
        "id": "7448897c-73c2-4588-8d57-9c4cb2a2dda3",
        "name": "Send message",
        "webhookId": "161ba60b-65d6-4721-a8bd-f3472ac795e7",
        "credentials": {
          "whatsAppApi": {
            "id": "zN64FrchG3Us4NQd",
            "name": "WhatsApp account"
          }
        },
        "notes": "EAASXglcVadUBRBRQjtCZBJZA8vSOTi4IAi8U68yr3jZCoAIMu0mNZBVAxiw9C3FdFdIYrcPi2uXmgUGWVFY3ZAfvZBQWOEASpGsSrBPjPL8FdY7RL6uZCCqwcWRXbOuegeOVN1ajq1jObDwH3HVktqwqsTekU8dt5OqVrZB0ZCetZAOHgcnahWrAZCqdZBXNTZCzFoc7DBQZDZD"
      }
    ],
    "connections": {
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "WhatsApp Trigger": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Juan Castillo",
    "name": "Version 54536a02",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "54536a02-0335-444b-b24e-fa813c979485",
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-12T12:16:31.371Z",
  "id": "k4HkK-9JsSYEO3dEcALWE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "EmpoderaBot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Contenido del mensaje: {{ $json.content }}\nNombre de usuario: {{ $json.userName }}",
        "options": {
          "systemMessage": "=Eres un asistente para la empresa grupo Empodera, simpre contesta n español, no es necesario que menciones que eres un asistente virtual a no ser que se le pregunte.\nsi no sabe el nombre del usuario, saluda y pregunta el nombre por ejemplo \"Hola 👋  \n¡Gracias por escribirnos!\nAntes de continuar, ¿me compartes tu nombre, por favor? Así puedo dirigirme a ti correctamente.\n•\tBrinda su nombre\"\n\nEn las siguiente interacion o una vez sabe el nombre se debe contestar algo asi como \n\"Es un placer, NOMBRE.\n\nTe cuento: la forma en la que trabajamos es bastante distinta a la mayoría de las asesorías que existen en el mercado. No creemos en soluciones genéricas ni en recomendaciones rápidas sin entender realmente lo que está pasando dentro de cada empresa.\n\nPor eso, me gustaría entender mejor tu situación actual, si recién vas a empezar o ya estás operando sin los resultados deseados, ¿Qué es lo que te preocupa y te motivó a contactarnos?\n\n•\tBrinda sus comentarios, problemas, expectativas\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        -176
      ],
      "id": "795ab39b-0069-4f2c-8a92-17727bd23e84",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "minimax/minimax-m2.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        432,
        32
      ],
      "id": "6d38c835-e275-4c6d-beb7-333f473e4a5a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "n9ENnMrxLhhgNjf8",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.senderPhone_number }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        576,
        32
      ],
      "id": "d2b88944-27b7-42f2-b860-8489cbb9f213",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ],
      "id": "68dc777a-c065-4025-8862-ce17e3fed4ba",
      "name": "WhatsApp Trigger",
      "webhookId": "e6b60c46-5b40-4514-9464-f6483fc47758",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "zywFedl5CIYfBVdV",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1068005819723178",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1008,
        -80
      ],
      "id": "7448897c-73c2-4588-8d57-9c4cb2a2dda3",
      "name": "Send message",
      "webhookId": "161ba60b-65d6-4721-a8bd-f3472ac795e7",
      "credentials": {
        "whatsAppApi": {
          "id": "zN64FrchG3Us4NQd",
          "name": "WhatsApp account"
        }
      },
      "notes": "EAASXglcVadUBRBRQjtCZBJZA8vSOTi4IAi8U68yr3jZCoAIMu0mNZBVAxiw9C3FdFdIYrcPi2uXmgUGWVFY3ZAfvZBQWOEASpGsSrBPjPL8FdY7RL6uZCCqwcWRXbOuegeOVN1ajq1jObDwH3HVktqwqsTekU8dt5OqVrZB0ZCetZAOHgcnahWrAZCqdZBXNTZCzFoc7DBQZDZD"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5f23bc3c-a1b7-41cc-9834-0cd073f4794a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        -160
      ],
      "id": "2171e860-9f21-4431-9eda-d5523ae031c0",
      "name": "Webhook",
      "webhookId": "5f23bc3c-a1b7-41cc-9834-0cd073f4794a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "35b9c580-c73f-4bd6-b135-beb0d3126126",
              "leftValue": "={{ $json.body.conversation.meta.sender.type == 'contact' &&  $json.body.message_type == 'incoming'}} ",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        -160
      ],
      "id": "d4cf17ca-ed65-4715-b723-1208f1667a5c",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "501fa7b3-fd81-46d8-9ead-74b890efe7ea",
              "name": "webhookUrl",
              "value": "=https://auto-chatwoot.ywzal8.easypanel.host/app/",
              "type": "string"
            },
            {
              "id": "3a32cef9-eb15-4b7e-bf74-60cd6221b14a",
              "name": "accountId",
              "value": "={{ $json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "2ca8d176-8e70-465e-b7db-1bbbc2321a69",
              "name": "conversationId",
              "value": "={{ $json.body.conversation.id }}",
              "type": "number"
            },
            {
              "id": "a29952ed-d522-4b8c-9726-ccde924283b3",
              "name": "messageId",
              "value": "={{ $json.body.id }}",
              "type": "number"
            },
            {
              "id": "8156bb99-f8c7-49ab-a33d-aab6f943ee61",
              "name": "senderPhone_number",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "153d0d06-1486-4db3-959e-36eb1e9a499f",
              "name": "content",
              "value": "={{ $json.body.content }}",
              "type": "string"
            },
            {
              "id": "e8f76746-5342-43ef-bfbb-d2e243441f3c",
              "name": "userName",
              "value": "={{ $json.body.sender.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -176
      ],
      "id": "ca201f68-e180-422d-a744-b5c336e1b04d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields').item.json.webhookUrl }}api/v1/accounts/{{ $('Edit Fields').item.json.accountId }}/conversatios/{{ $('Edit Fields').item.json.conversationId }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ $json.output }},\n  \"private\": false,\n  \"message_type\": \"outgoig\",\n  \"sender\":\n  {\n    \"type\":\"bot\" \n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -176
      ],
      "id": "4415ca1c-c939-4a40-af07-3302ce9f6732",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SljmDp5RVh3XreZu",
          "name": "chatwoot bot"
        }
      }
    }
  ],
  "origin": "main",
  "pinData": {},
  "repo": {
    "owner": "xmaichel",
    "name": "n8n_flows"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-01-12T12:16:31.383Z",
      "createdAt": "2026-01-12T12:16:31.383Z",
      "role": "workflow:owner",
      "workflowId": "k4HkK-9JsSYEO3dEcALWE",
      "projectId": "TWUdlmfp5jAL6XiA"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-17T03:19:51.836Z",
      "createdAt": "2026-03-17T03:19:51.836Z",
      "id": "tLeoVtVO4wjWQ3Xi",
      "name": "Empodera"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-22T12:15:23.293Z",
  "versionId": "4d273a2a-b05a-48d9-bdc9-45d5d348eb2b"
}