yCt2750BJKc7q1b3.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-01T00:12:14.382Z",
  "id": "yCt2750BJKc7q1b3",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ChatBot_sendMail_enbber",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres un agente especializado en escribir correos para esto tienes una herramienta gmail.\n\nDebes enviarlo al correo que solicite el usuario, debes crear un subject y el cuerpo del correo.\n\nManten una escritura para html\n\nDespidete con lo siguiente \n\"Cordial Saludo\nJuan Esteban Castillo\n\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -220,
        -80
      ],
      "id": "fafc790b-2f64-454d-bfba-cc7fd06e4e19",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -280,
        120
      ],
      "id": "840c03b7-2367-4f2f-88b8-8714103d0004",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XtNAsrV9NVuklAFu",
          "name": "Personalizar_email"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -140,
        140
      ],
      "id": "884aab18-f06f-4e7e-9dca-7ee1260b179c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        },
        "path": "1e101c88-ffea-4c34-a4bf-1e6e54402f7e"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        100,
        100
      ],
      "id": "865f71a4-cc46-4108-a94a-3a7d1ce988fa",
      "name": "Send a message in Gmail",
      "webhookId": "1e101c88-ffea-4c34-a4bf-1e6e54402f7e",
      "credentials": {
        "gmailOAuth2": {
          "id": "U7IUuHqHanwnbSxQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {},
        "path": "3bee3a55-d93a-419a-a3f9-54312cf93c0c"
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -500,
        -60
      ],
      "id": "c7fd09d7-76a7-48dd-a6c8-c5e3c29f9992",
      "name": "Telegram Trigger",
      "webhookId": "3bee3a55-d93a-419a-a3f9-54312cf93c0c",
      "credentials": {
        "telegramApi": {
          "id": "CbX6sN7QiLqZCPnM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        },
        "path": "20d8bde0-1d0f-470d-a4c3-07ca598aa1be"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        140,
        -80
      ],
      "id": "996761b6-cf97-4d14-8943-da714b2972d5",
      "name": "Send a text message",
      "webhookId": "20d8bde0-1d0f-470d-a4c3-07ca598aa1be",
      "credentials": {
        "telegramApi": {
          "id": "CbX6sN7QiLqZCPnM",
          "name": "Telegram account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "xmaichel",
    "name": "n8n_flows"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-01T00:08:24.213Z",
      "updatedAt": "2025-07-01T00:08:24.213Z",
      "id": "JdqprwXO1FrIslb6",
      "name": "Telegram"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-07-01T00:12:14.382Z",
  "versionId": "b63aa129-2b64-48b6-ae2b-e8c3b4668d0a"
}